/* 
Compile this file to css/custom_z135rF9J.css using any SCSS preprocessor. 
More information here: https://slides.gitbook.io/manual/scss
*/

@import "mixins.scss"; 
@import "variables.scss";
@import "variables-custom.scss";

/* Slide 109 (#1) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-109-1b700655"] */
.slide[data-cid="slide-109-1b700655"]{
  &.whiteSlide .list-109 li::before{
    background: #BBBBBB !important;
    color: $default-white-color !important;
  }
  &.whiteSlide .list-109 li.active::before{
    background: $green !important;
    color: $default-white-color !important;
  }
  &:not(.whiteSlide) .list-109 li::before{
    background: $default-white-color !important;
    color: $default-text-color !important;
  }
  &:not(.whiteSlide) .list-109 li.active::before{
    background: $green !important;
    color: $default-white-color !important;
  }
  .list-109{
    counter-reset: num;
    li{
      position: relative;
      &:before {
        content: counter(num); 
        counter-increment: num;
        display: inline-block;  
        position: absolute;
        top: 0px;
        left: 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        text-align: center; 
        font-weight: bold;
        font-size: 21px;
        line-height: 40px;
        letter-spacing: -0.015em;
      }
      h4{
        line-height: 40px !important;
      }
    } 
  }
}

/* Example Recaptcha (#2) */
#g-recaptcha-response.g-recaptcha-response { display: none !important; }